<div class="row academy-row" [style.background-color]="academy?.color">
  <div class="col-12 col-lg-2">
    <div class="acedmy-plus m-auto"><img [src]="getImg(academy?.logo)" class="img-fluid" /><br /></div>
  </div>
  <div class="col-12 col-lg-10 academy-name">
    <p>{{ academy?.academyName }}</p>
  </div>
</div>
<div class="row p-4">
  <div class="form-group col-12 col-lg-4">
    <label for="name" class="control-label">Team Name</label>
    <input type="text" class="form-control" placeholder="Type name of league" [value]="team?.teamName" aria-label="league" />
  </div>
</div>
<div class="row mt-2 p-4">
  <form [formGroup]="leagueForm" (ngSubmit)="onFormSubmit()">
    <div class="row justify-content-start" *ngIf="leagues">
      <ng-container *ngFor="let league of leagues; let i = index">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="league-lable">
            <div class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value="false"
                (change)="onCheckBox()"
                [checked]="league.selected"
                [(ngModel)]="league.selected"
                [ngModelOptions]="{ standalone: true }"
              />
              <span class="league-text">{{ league.leagueName }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 m-3">
        <div class="league-btn-lable">
          <button type="submit" class="btn btn-primary text-center">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div style="position: absolute; bottom: 0; right: 0; background-color: transparent">
  <button class="btn" class="btn btn-back" (click)="redirectTo()">Back</button>
</div>
