<div class="row academy-row" [style.background-color]="academy?.color">
  <div class="col-12 col-lg-2">
    <div class="acedmy-plus m-auto"><img [src]="getImg(academy?.logo)" class="img-fluid" /><br /></div>
  </div>
  <div class="col-12 col-lg-10 academy-name">
    <p>{{ academy?.academyName }}</p>
  </div>
</div>
<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">{{ team?.teamName }}</h3>
  </div>
  <hr />
</div>
<div class="row mt-2">
  <form [formGroup]="leagueForm" (ngSubmit)="onFormSubmit()">
    <div class="row justify-content-start" *ngIf="leagues">
      <ng-container *ngFor="let league of leagues; let i = index">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="league-lable">
            <div class="list-group-item">
              {{ league.leagueName }}
              <input
                class="form-check-input me-1"
                type="checkbox"
                value="false"
                (change)="onCheckBox()"
                [checked]="league.selected"
                [(ngModel)]="league.selected"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row justify-content-end">
      <div class="col-12 col-lg-3 mt-3">
        <div class="league-btn-lable">
          <button type="submit" class="btn text-center">Add / Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div style="position: absolute; bottom: 0; right: 0; background-color: transparent">
  <button class="btn" style="font-size: 40px; color: black" (click)="redirectTo()">Back</button>
</div>
