<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Fixture Setup</h3>
  </div>
  <hr />
</div>
<form [formGroup]="fixtureForm" class="justify-content-around" method="post" enctype="multipart/form-data" (ngSubmit)="onFormSubmit()">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-4 col-md-4 m-4">
      <div class="form-group">
        <input
          type="date"
          [value]=""
          id="currentDate"
          class="form-control"
          placeholder="Select Date"
          formControlName="matchDate"
          [ngClass]="{ 'is-invalid': submitted && f['matchDate'].errors }"
        />
        <div *ngIf="submitted && f['matchDate']?.errors" class="invalid-feedback">
          <div *ngIf="f['matchDate'].errors && f['matchDate'].errors['required']">
            <small>Match Date is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-4 m-4">
      <div class="form-group">
        <select
          class="form-select"
          id="container"
          aria-label="Default select"
          formControlName="league"
          (change)="getTeamsForLeague($event)"
          [ngClass]="{ 'is-invalid': submitted && f['league'].errors }"
        >
          <option value="" class="mb-1">Select League</option>
          <ng-container *ngFor="let league of leagues">
            <option value="{{ league._id }}" class="mb-1">{{ league.leagueName }}</option>
          </ng-container>
        </select>
        <div *ngIf="submitted && f['league']?.errors" class="invalid-feedback">
          <div *ngIf="f['league'].errors && f['league'].errors['required']">
            <small>League is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-4 m-4">
      <div class="form-group">
        <select
          class="form-select"
          id="container"
          formControlName="homeTeam"
          aria-label="Default select"
          [ngClass]="{ 'is-invalid': submitted && f['homeTeam'].errors }"
        >
          <option value="" class="mb-1">Select Home Team</option>
          <ng-container *ngFor="let team of homeTeams">
            <option value="{{ team._id }}" class="mb-1">{{ team.teamName }}</option>
          </ng-container>
        </select>
        <div *ngIf="submitted && f['homeTeam'].errors" class="invalid-feedback">
          <div *ngIf="f['homeTeam'].errors['required']">
            <small>Home Team is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-4 m-4">
      <div class="form-group">
        <select
          class="form-select"
          id="container"
          formControlName="awayTeam"
          aria-label="Default select"
          [ngClass]="{ 'is-invalid': submitted && f['awayTeam'].errors }"
        >
          <option value="" class="mb-1">Select Away Team</option>
          <ng-container *ngFor="let team of awayTeams">
            <option value="{{ team._id }}" class="mb-1">{{ team.teamName }}</option>
          </ng-container>
        </select>
        <div *ngIf="submitted && f['awayTeam'].errors" class="invalid-feedback">
          <div *ngIf="f['awayTeam'].errors['required']">
            <small>Away Team is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-md-8 mt-4">
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Add Fixture</button>
      </div>
    </div>
  </div>
</form>

<div class="row mt-5">
  <hr />
</div>
<div class="row">
  <app-fixture-listing [fixtures]="fixtures" (delFixture)="deleteFixture($event)"></app-fixture-listing>
</div>
