.academy-row {
  height: 180px;
  background: #4f5467;
  padding: 10px;
  margin-bottom: 35px;
  .academy-name {
    padding-top: 8px;
    p {
      color: #fff;
      font-family: NotoSansRegular;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .acedmy-plus {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-radius: 75px;
    width: 162px;
    height: 156px;
    background: white;
    overflow: hidden;
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #ff5a5a;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

form {
  .input-group {
    border: 1px black solid;
    padding: 20px;
    border-radius: 75px;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: NotoSansRegular;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  input.league-input {
    border: none;
    background-color: white;
    border-radius: 50px;
    position: relative;
    border-radius: 35px;
  }
}
input.form-control {
  line-height: 93px;
}

button.btn-default {
  background: #000000;
  border-radius: 50px !important;
  width: 8%;
  color: white;
  b {
    i {
      font-size: 25px;
      font-weight: bold;
    }
    .academy-plus-inner-text {
      color: #ff5a5a;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
.league-lable {
  display: inline-block;
  background: #000000;
  border-radius: 30px;
  height: 53px;
  padding: 10px 10px 10px 20px;
  .league-text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: NotoSansRegular;
    font-weight: 600;
    line-height: normal;
    display: block;
  }
  &:hover {
    button {
      visibility: visible;
    }
  }
  button {
    visibility: hidden;
    position: relative;
    float: right;
    bottom: 30px;
  }
}

@media (max-width: 767px) {
  input.form-control {
    line-height: 16px;
    margin: 0 30px 0 0;
    padding: 18px;
    border-radius: 19px !important;
    border: 1px solid #000;
    background: #fff;
    width: 57%;
  }

  button.btn-default {
    background: #000000;
    border-radius: 66px !important;
    width: 9%;
    color: white;
    b > i {
      font-size: 15px;
      font-weight: bold;
    }
  }
}
