<!-- <div class="row page-title-bar">
  <div class="row academy-row" [style.background-color]="compSettings?.competitionBackground">
    <div class="col-12 col-lg-2">
      <div class="acedmy-plus m-auto">
        <img [src]="getImg(selectedCompetition?.competitionLogo)" class="img-fluid" />
        <br />
      </div>
    </div>
    <div class="col-12 col-lg-10 academy-name">
      <p>{{ selectedCompetition?.competitionName }}</p>
    </div>
  </div>
  <hr />
</div> -->

<div class="row academy-row" [style.background-color]="academy?.color">
  <div class="col-12 col-lg-2">
    <div class="acedmy-plus m-auto"><img [src]="getImg(academy?.logo)" class="img-fluid" /><br /></div>
  </div>
  <div class="col-12 col-lg-10 academy-name">
    <p>{{ academy?.academyName }}</p>
  </div>
</div>

<div class="row">
  <form class="d-flex mt-4 mb-4" [formGroup]="teamForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group d-flex col-12 col-lg-6">
      <label for="name" class="control-label d-inline col-2 mt-2 ms-4">Club Name</label>
      <input type="text" class="form-control col-4 me-2" placeholder="Add Name of Team" aria-label="league" formControlName="teamName" />
    </div>
    <div class="form-group d-inline col-12 col-lg-4 ms-2 justify-content-end">
      <button type="submit" class="btn btn-gradient col-lg-4 ms-1">Submit</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="mb-5">
    <hr />
  </div>
  <!-- <div class="container">
    <div class="row" *ngIf="teams">
      <div class="league-lable btn col-lg-3 col-sm-6 mb-2 ms-1" *ngFor="let team of teams">
        <span class="league-text" (click)="onTeamClick(team)">{{ team.teamName }}</span>
        <button type="button" class="close btn btn-defaul" data-dismiss="alert" aria-label="Close" (click)="onDelete(team._id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div> -->
  <app-admin-team-listing [teamsData]="teams" (delTeam)="onDelete($event)" (editTeam)="onTeamClick($event)"></app-admin-team-listing>
</div>
<div style="position: absolute; bottom: 0; right: 0; background-color: transparent">
  <button class="btn btn-back" (click)="redirectTo()">Back</button>
</div>
