<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Team Management</h3>
  </div>
  <hr />
</div>
<div class="row mt-3 justify-content-center">
  <div class="col-12">
    <form class="form-inline" [formGroup]="academyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="input-group d-flex align-items-center mb-3">
            <label for="academyColor" class="mr-3">Color: </label>
            <input
              type="color"
              class="form-control p-0"
              placeholder="select academy color"
              aria-label="academy"
              formControlName="academyColor"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="input-group mb-3">
            <label for="academyLogo" class="mr-3">Logo: </label>
            <input
              type="file"
              class="form-control"
              placeholder="select academy color"
              aria-label="academy"
              (change)="uploadLogo($event)"
              accept="image/*"
              formControlName="academyLogo"
              style="line-height: 16px"
            />
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-3">
          <div class="input-group p-2">
            <input
              type="text"
              class="form-control col-lg-9 col-sm-12 league-input"
              placeholder="Type Name of Club/Academy"
              aria-label="academy"
              formControlName="academyName"
            />
            <button type="submit" class="btn btn-default col-lg-2 col-sm-12">
              <b><i class="bi bi-plus-lg"></i></b><br />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mb-5">
  <div>
    <hr />
  </div>
  <div>
    <div class="container">
      <div class="row" *ngIf="academies">
        <div class="col-lg-3 col-md-3 col-sm-6 p-2 mt-2" *ngFor="let academy of academies">
          <div class="league-lable btn">
            <span class="league-text" [routerLink]="['academy', academy._id]">{{ academy.academyName }} </span>
            <button type="button" class="close btn btn-defaul" data-dismiss="alert" aria-label="Close" (click)="onDelete(academy._id)">
              <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" class="close btn btn-defaul" data-dismiss="alert" aria-label="Close" (click)="onEditPatch(academy)">
              <span aria-hidden="true" style="display: block; color: antiquewhite"> <i class="bi bi-pencil-square"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div style ="position: absolute; bottom: 0;right:0; background-color: transparent;">
  <button class="btn btn-back" (click)="redirectTo()">Back</button>
</div> -->
