form {
  .input-group {
    border: 1px black solid;
    padding: 20px;
    border-radius: 75px;
    ::placeholder {
      color: rgba(0, 0, 0, 0.50);
      font-family: NotoSansRegular;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    input.league-input {
      border:none;
      background-color: white;
      border-radius: 50px;
      position: relative;
      border-radius: 35px;
    }
  }
  input.form-control {
    line-height: 93px;
   }
   div {
     button.btn-default {
       background: #000000;
         border-radius: 50px !important;
         width: 100px;
         color: white;
       b > i {
         font-size: 25px;
         font-weight: bold;
       }
     }
   }
}
.league-lable {
  display: flex;
  height: 53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #000000;
  border-radius: 30px;
  // margin: 16px;
  .league-text {
    color: #FFF;
    text-align: center;
    font-family: NotoSansRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}


@media (max-width: 767px) {
  form {
    .input-group {
      ::placeholder {
        font-size: 18px;
      }
      input.form-control {
        line-height: 55px;
       }
      button.btn-default {
        width: 65px;
      }
    }
  }
}
