.academy-row {
  background: #165BAA;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  .academy-name {
    p {
      color: #fff;
      font-family: 'Anton', sans-serif;
      font-size: 40px;
      margin:0 5px 0 0;
    }
    .academy-team{
      color: #FFF;
      font-family: 'Anton', sans-serif;
      font-size: 14px;
    }
  }
  .acedmy-plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #ff5a5a;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 767px) {
  .academy-row {
    align-items: center;
    .acedmy-plus{
      margin:0 auto;
    }
    .academy-name {
      padding-top: 0px;
      font-size: 16px;
      p {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

form {
  .form-group {
    .form-control {
      background-color: #fff;
    }
  }
}

button.btn-default {
  background: #000000;
  border-radius: 50px !important;
  width: 8%;
  color: white;
  b > i {
    font-size: 25px;
    font-weight: bold;
  }
}
.league-lable {
  display: flex;
  width: 230px;
  min-height: 53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #000000;
  border-radius: 30px;
  margin: 16px;
  .league-text {
    color: #fff;
    text-align: center;
    font-family: NotoSansRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .academy-row {
    align-items: center;
    .academy-name {
      padding-top: 0px;
      font-size: 16px;
      p {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  input.form-control {
    line-height: 16px;
    padding: 18px;
    border-radius: 19px !important;
    border: 1px solid #000;
    background: #fff;
  }

  button.btn-default {
    background: #000000;
    border-radius: 66px !important;
    width: 9%;
    color: white;
    b > i {
      font-size: 15px;
      font-weight: bold;
    }
  }
}
