.academy-row {
  background: #165BAA;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  .academy-name {
    p {
      color: #fff;
      font-family: NotoSansRegular;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .acedmy-plus {
    background: #4f5467;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #ff5a5a;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

form {
  .form-group {
    .control-label {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: NotoSansRegular;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 12.9px;
      margin-bottom: 20px;
      margin-left: 5px;
    }
    .form-control {
      background-color: transparent;
      border-radius: 15px;
      border: 1px black dotted;
    }
  }
}

button.btn-default {
  background: #000000;
  border-radius: 50px !important;
  width: 8%;
  color: white;
  b > i {
    font-size: 25px;
    font-weight: bold;
  }
}
.league-lable {
  display: flex;
  width: 230px;
  height: 53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #000000;
  border-radius: 30px;
  margin: 16px;
  .league-text {
    color: #fff;
    text-align: center;
    font-family: NotoSansRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  input.form-control {
    line-height: 16px;
    margin: 0 30px 0 0;
    padding: 18px;
    border-radius: 19px !important;
    border: 1px solid #000;
    background: #fff;
    width: 57%;
  }

  button.btn-default {
    background: #000000;
    border-radius: 66px !important;
    width: 9%;
    color: white;
    b > i {
      font-size: 15px;
      font-weight: bold;
    }
  }
}
