<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card m-1">
      <div class="card-body">
        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title">Sales Summary</h4>
            <h5 class="card-subtitle text-muted">Yearly Sales Report</h5>
          </div>
        </div>
        <div class="row mt-4">
          <!-- column -->
          <div class="col-12 col-lg-12">
            <div class="d-flex flex-column w-100">
              <apx-chart
                [series]="salesChartOptions.series"
                [chart]="salesChartOptions.chart"
                [xaxis]="salesChartOptions.xaxis"
                [yaxis]="salesChartOptions.yaxis"
                [grid]="salesChartOptions.grid"
                [stroke]="salesChartOptions.stroke"
                [tooltip]="salesChartOptions.tooltip"
                [dataLabels]="salesChartOptions.dataLabels"
                [legend]="salesChartOptions.legend"
                [colors]="salesChartOptions.colors"
                [markers]="salesChartOptions.markers"
              >
              </apx-chart>
            </div>
          </div>
          <!-- column -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card m-1">
      <div class="card-body">
        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title">Sales Summary</h4>
            <h5 class="card-subtitle text-muted">Yearly Sales Report</h5>
          </div>
        </div>
        <div class="row mt-4">
          <!-- column -->
          <div class="col-12 col-lg-12">
            <div class="d-flex flex-column w-100">
              <apx-chart
                [series]="barCharOptions.series"
                [chart]="barCharOptions.chart"
                [xaxis]="barCharOptions.xaxis"
                [yaxis]="barCharOptions.yaxis"
                [grid]="barCharOptions.grid"
                [stroke]="barCharOptions.stroke"
                [tooltip]="barCharOptions.tooltip"
                [dataLabels]="barCharOptions.dataLabels"
                [legend]="barCharOptions.legend"
                [colors]="barCharOptions.colors"
                [markers]="barCharOptions.markers"
              >
              </apx-chart>
            </div>
          </div>
          <!-- column -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card m-1">
      <div class="card-body">
        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title">Sales Summary</h4>
            <h5 class="card-subtitle text-muted">Yearly Sales Report</h5>
          </div>
        </div>
        <div class="row mt-4">
          <!-- column -->
          <div class="col-12 col-lg-12">
            <div class="d-flex flex-column w-100">
              <apx-chart
                [series]="pieChartOptions.series"
                [chart]="pieChartOptions.chart"
                [xaxis]="pieChartOptions.xaxis"
                [yaxis]="pieChartOptions.yaxis"
                [grid]="pieChartOptions.grid"
                [stroke]="pieChartOptions.stroke"
                [tooltip]="pieChartOptions.tooltip"
                [dataLabels]="pieChartOptions.dataLabels"
                [legend]="pieChartOptions.legend"
                [colors]="pieChartOptions.colors"
                [markers]="pieChartOptions.markers"
              >
              </apx-chart>
            </div>
          </div>
          <!-- column -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card m-1">
      <div class="card-body">
        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title">Sales Summary</h4>
            <h5 class="card-subtitle text-muted">Yearly Sales Report</h5>
          </div>
        </div>
        <div class="row mt-4">
          <!-- column -->
          <div class="col-12 col-lg-12">
            <div class="d-flex flex-column w-100">
              <apx-chart
                [series]="donutChartOptions.series"
                [chart]="donutChartOptions.chart"
                [xaxis]="donutChartOptions.xaxis"
                [yaxis]="donutChartOptions.yaxis"
                [grid]="donutChartOptions.grid"
                [stroke]="donutChartOptions.stroke"
                [tooltip]="donutChartOptions.tooltip"
                [dataLabels]="donutChartOptions.dataLabels"
                [legend]="donutChartOptions.legend"
                [colors]="donutChartOptions.colors"
                [markers]="donutChartOptions.markers"
              >
              </apx-chart>
            </div>
          </div>
          <!-- column -->
        </div>
      </div>
    </div>
  </div>
</div>
