<div class="row academy-row" [style.background-color]="academy?.color">
  <div class="col-12 col-lg-2">
    <div class="acedmy-plus m-auto"><img [src]="getImg(academy?.logo)" class="img-fluid" /><br /></div>
  </div>
  <div class="col-12 col-lg-10 academy-name">
    <p *ngIf="academy">{{ academy.academyName }}</p>
    <p class="academy-team">TEAM: {{ team.teamName }}</p>
  </div>
</div>
<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Leagues & Divisions</h3>
  </div>
  <hr />
</div>
<div class="row">
  <form>
    <div class="row justify-content-start" *ngIf="leagues">
      <ng-container *ngFor="let league of leagues; let i = index">
        <div class="col-lg-3 col-sm-6 col-xs-6">
          <div class="league-lable">
            <div class="list-group-item">
              {{ league.leagueName }}
              <input
                class="form-check-input me-1"
                type="checkbox"
                value="false"
                (change)="onCheckBox(league)"
                [checked]="league.selected"
                [(ngModel)]="league.selected"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="row d-flex justify-content-end">
        <div class="col-4">
          <div class="league-btn-lable">
            <button type="submit" class="btn text-center">Sign in</button>
          </div>
        </div>
      </div> -->
  </form>
</div>

<div class="row">
  <br />
  <hr />
</div>
<div class="row text-center mb-4">
  <div class="d-flex justify-content-end">
    <div class="col-12 col-lg-6 pe-5">
      <h2 class="me-5">
        {{ team.teamName }}
      </h2>
    </div>
    <div class="col-12 col-lg-6 text-end me-5">
      <h2 *ngIf="selectedLeague">{{ selectedLeague.leagueName ? selectedLeague.leagueName : "No League Selected" }}</h2>
    </div>
  </div>
</div>
<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Coaches Details</h3>
  </div>
  <hr />
</div>
<div class="row">
  <div class="col-lg-3 col-sm-12 col-xs-12 col-md-3">
    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <input
        type="email"
        value=""
        class="form-control"
        id="name"
        [value]="coach.firatname ? coach.firatname + ' ' + coach.lastname : coach.username"
        placeholder="Name"
        disabled
      />
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 col-xs-12 col-md-3">
    <div class="form-group">
      <label for="name" class="control-label">Email</label>
      <input type="email" value="" class="form-control" id="name" [value]="coach?.email" placeholder="Email" disabled />
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 col-xs-12 col-md-3">
    <div class="form-group">
      <label for="name" class="control-label">Mobile</label>
      <input
        type="email"
        value=""
        class="form-control"
        id="name"
        [value]="coach.contact ? coach.contact : 'No Mobile'"
        placeholder="Mobile"
        disabled
      />
    </div>
  </div>
</div>
<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Squad</h3>
  </div>
  <hr />
</div>
<div class="row squads pt-3">
  <div class="col-12 col-md-6 col-lg-8">
    <div class="row pt-3">
      <!-- <div class="squads-lable col-12 col-lg-4 mb-3" (click)="export()">
        <span class="squads-text">Download CSV Template</span>
      </div> -->
      <!-- <div class="squads-lable col-12 col-lg-4 mb-3">
        <div class="input-container">
          Uploads Players <small>(.csv / .xls)</small>
          <input
            #csvUpload
            type="file"
            name="file"
            (change)="onChange($event)"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          />
        </div>
      </div> -->
      <!-- <div class="squads-lable col-12 col-lg-4 mb-3">
        <div class="input-container">
          BulK EID Uploads
          <input type="file" name="file" (change)="getImages($event)" accept="image/*" multiple />
        </div>
      </div> -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="btn squads-lable col-12" (click)="togglePlayerForm()">
          <span class="squads-text">Add Player</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 justify-content-around">
    <div class="btn squads-lable col-12" (click)="onContactUs()">
      <span class="squads-text">Contact Us</span>
    </div>
    <div class="col-12">
      <p>To move a player or player doesn't have a EID</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="displayAddPlayer">
  <form [formGroup]="playerForm" class="justify-content-around" method="post" enctype="multipart/form-data" (ngSubmit)="onFormSubmit()">
    <div class="row justify-content-between">
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2 p-2">
        <label for="name" class="control-label">First Name</label>
        <input
          type="text"
          [value]="784 - 1234 - 1234567 - 1"
          class="form-control"
          placeholder="First Name"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
        />
        <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
          <div *ngIf="f['firstName'].errors['required']">
            <small>First Name is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="name" class="control-label">Surname</label>
        <input
          type="text"
          value=""
          class="form-control"
          id="name"
          placeholder="Surname"
          formControlName="surName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['surName'].errors }"
        />
        <div *ngIf="submitted && f['surName'].errors" class="invalid-feedback">
          <div *ngIf="f['surName'].errors['required']">
            <small>Surname is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="name" class="control-label">Date of birth</label>
        <input
          type="date"
          value=""
          class="form-control"
          id="name"
          placeholder="DOB"
          formControlName="dob"
          class="form-control"
          (blur)="getMaxAgeLeagues($event.target.value)"
          [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
        />
        <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
          <div *ngIf="f['dob'].errors['required']">
            <small>Date of birth is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="squadNo" class="control-label">Squad No</label>
        <input
          type="number"
          value=""
          class="form-control"
          id="squadNo"
          placeholder="squadNo"
          formControlName="squadNo"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['squadNo'].errors }"
        />
        <div *ngIf="submitted && f['squadNo'].errors" class="invalid-feedback">
          <div *ngIf="f['squadNo'].errors['required']">
            <small>Squad no is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="name" class="control-label">League</label>
        <input
          type="text"
          [value]="selectedLeague?.leagueName"
          class="form-control"
          id="name"
          placeholder="League"
          formControlName="league"
          [ngClass]="{ 'is-invalid': submitted && f['league'].errors }"
        />
        <div *ngIf="submitted && f['league'].errors" class="invalid-feedback">
          <div *ngIf="f['league'].errors['required']">
            <small>League is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="playerEidNo" class="control-label">EID No</label>
        <input
          type="text"
          [(ngModel)]="eidNo"
          [value]="eidNo"
          name="playerEidNo"
          id="playerEidNo"
          class="form-control"
          placeholder="784-1234-1234567-1"
          formControlName="playerEidNo"
          (keypress)="appendHiphen($event)"
          [ngClass]="{ 'is-invalid': submitted && f['playerEidNo'].errors }"
          size="18"
          (blur)="playerbyEmirateId($event)"
        />
        <div *ngIf="submitted && f['playerEidNo'].errors" class="invalid-feedback">
          <div *ngIf="f['playerEidNo'].errors['required']">
            <small>Player EID no and pattern should is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="eidFront" class="control-label">EID Front</label>
        <input
          type="file"
          value=""
          class="form-control"
          id="eidFront"
          name="eidFront"
          placeholder="EID Front"
          (change)="uploadEmiratesID($event)"
          formControlName="eidFront"
          class="form-control"
          accept="image/*"
          [ngClass]="{ 'is-invalid': submitted && f['eidFront'].errors }"
        />
        <div *ngIf="submitted && f['eidFront'].errors" class="invalid-feedback">
          <div *ngIf="f['eidFront'].errors['required']">
            <small>EID Front is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="eidBack" class="control-label">EID Back</label>
        <input
          type="file"
          value=""
          class="form-control"
          id="eidBack"
          name="eidBack"
          placeholder="EID Back"
          (change)="uploadEmiratesID($event)"
          formControlName="eidBack"
          class="form-control"
          accept="image/*"
          [ngClass]="{ 'is-invalid': submitted && f['eidBack'].errors }"
        />
        <div *ngIf="submitted && f['eidBack'].errors" class="invalid-feedback">
          <div *ngIf="f['eidBack'].errors['required']">
            <small>EID Back is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="playingup" class="control-label">Playing Up League</label>
        <ng-multiselect-dropdown
          [class]="'form-control'"
          [placeholder]="'Playing up league'"
          [settings]="dropdownSettings"
          [data]="dropleagues"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          formControlName="playingUp"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="playingup" class="control-label">Playing Up Team</label>
        <ng-multiselect-dropdown
          [class]="'form-control'"
          [placeholder]="'Playing up team'"
          [settings]="dropdownTeamSettings"
          [data]="dropteams"
          (onSelect)="onTeamSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          formControlName="playingUpTeam"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="form-group col-xs-12 col-md-3 col-lg-3 mt-2 align-items-end">
          <div class="ms-3 w-100 league-lable">
            <button type="submit" class="btn btn-defaul col-12 text-white" [disabled]="playerExists">Add Player</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row" *ngIf="displayEditPlayer">
  <form
    [formGroup]="editPlayerForm"
    class="justify-content-around"
    method="post"
    enctype="multipart/form-data"
    (ngSubmit)="onUpdatePlayer()"
  >
    <div class="row justify-content-center">
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-3">
        <label for="name" class="control-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="First Name"
          formControlName="firstName"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-3">
        <label for="name" class="control-label">Last Name</label>
        <input type="text" class="form-control" id="name" placeholder="Last Name" formControlName="surName" class="form-control" disabled />
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-3">
        <label for="name" class="control-label">Date of birth</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="DOB"
          formControlName="dob"
          class="form-control"
          (blur)="getMaxAgeLeagues($event.target.value)"
          disabled
        />
      </div>

      <div class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-4 m-2">
        <label for="playingup" class="control-label">Playing Up League</label>
        <ng-multiselect-dropdown
          [class]="'form-control'"
          [placeholder]="'Playing up league'"
          [settings]="dropdownSettings"
          [data]="dropleagues"
          [(ngModel)]="selectedPlayingLeagues"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          formControlName="playingUp"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-3 m-2">
        <label for="playingup" class="control-label">Playing Up Team</label>
        <ng-multiselect-dropdown
          [class]="'form-control'"
          [placeholder]="'Playing up team'"
          [settings]="dropdownTeamSettings"
          [data]="dropteams"
          [(ngModel)]="selectedPlayingUpTeams"
          (onSelect)="onTeamSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          formControlName="playingUpTeam"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="form-group col-xs-12 col-md-3 col-lg-3 mt-2 align-items-end">
          <div class="ms-3 w-100 league-lable">
            <button type="submit" class="btn btn-defaul col-12 text-white" [disabled]="playerExists">Update Player</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <br />
  <hr />
</div>
<div class="row page-title-bar">
  <div class="col-lg-6">
    <h3 class="page-title">Filters</h3>
  </div>
  <div class="col-lg-3">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Player's Name"
        class="form-control"
        (keyup)="filterPlayersByName($event.target.value)"
      />
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group m-2">
      <ng-multiselect-dropdown
        [placeholder]="'EID'"
        [settings]="eidDropdownSettings"
        [data]="dropEID"
        (onSelect)="onEidSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onDeSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <hr />
</div>
<div class="row">
  <app-coach-squad-list
    [players]="data"
    (delPlayer)="onDeletePlayer($event)"
    (editPlayer)="updatePlayer($event)"
    [teams]="teams"
  ></app-coach-squad-list>
</div>
<div style="position: absolute; bottom: 0; right: 0; background-color: transparent; z-index: 2">
  <button class="btn btn-back" (click)="redirectTo()">Back</button>
</div>
