.well {
  background: none;
  height: 320px;
  .city-heading {
    text-align: center;
  }
}

.table-scroll tbody {
  position: absolute;
  overflow-y: scroll;
  height: 250px;
  width: 50%;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll thead > tr > th {
  border: none;
}

.modal-body {
  text-align: center;
  img {
    width: 700px;
    border-radius: 25px;
  }
}