.well {
  background: none;
  height: 320px;
  .city-heading {
    text-align: center;
  }
}

.table-scroll tbody {
  position: absolute;
  overflow-y: scroll;
  height: 250px;
  width: 50%;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll thead > tr > th {
  border: none;
}

.modal-body {
  text-align: center;
  img {
    width: 700px;
    border-radius: 25px;
  }
}

@media (max-width: 787px) {
  .ngx-datatable.material {
    width: 100%;
    overflow-x: scroll;
  }
  :host ::ng-deep .fixture-team-details{
      display: block !important;
      overflow: visible !important;
  }
  :host ::ng-deep .ngx-datatable .datatable-body .datatable-row-detail {
    overflow-y: hidden;
  }
  :host ::ng-deep .datatable-row-detail {
    height: auto !important;
    min-height: 500px !important;
  }
  :host ::ng-deep .table-scroll tbody {
    position: relative !important;
    overflow-y: scroll;
    height: 250px;
    width: 100%;
  }
}