<div class="row">
  <ngx-datatable
    #myTable
    class="material fullscreen"
    [rows]="fixtures"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [footerHeight]="100"
    [headerHeight]="50"
    [limit]="10"
    rowHeight="auto"
    [scrollbarH]="true"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <app-fixture-team-details class="fixture-team-table" [team]="row.homeTeam"></app-fixture-team-details>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <app-fixture-team-details class="fixture-team-table" [team]="row.awayTeam"></app-fixture-team-details>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column name="Fixture" prop="row" width="50">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="League" prop="row">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{ row.league?.leagueName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Team 1" prop="row">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{ row.homeTeam?.teamName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" id="competed"> VS </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Team 2" prop="row">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{ row.awayTeam?.teamName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="row">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        class="d-flex"
        let-expanded="expanded"
      >
        <div class="d-flex">
          <button type="button" class="btn btn-primary gtn-lg d-inline list-btn" (click)="toggleExpandRow(row)">See Squad List</button>
          <button type="button" class="btn btn-danger d-inline btn-lg delet-btn" (click)="deleteFixture(row['_id'])">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="table.onFooterPage($event)"
        >
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
