<div class="row page-title-bar">
  <div class="col-lg-12 heading-row">
    <h3 class="page-title">Squad Management</h3>
  </div>
  <hr />
</div>
<div class="row d-flex pt-5" *ngIf="academies">
  <ng-container *ngFor="let academy of academies">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
      <div class="league-lable btn">
        <span class="league-text" (click)="redirectTo(academy._id)">
          {{ academy.academyName }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
