.card {
  overflow: hidden;
  padding: 30px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 21.944px 65.831px 0px rgba(17, 38, 146, 0.05);
  &.selected {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #EFF8FF;
  }
  .card-title{
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 26px;
  }
  .img-square-wrapper{
    border-radius: 20px;
    padding: 5px;
    background-color: #59D6F8;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
  }
  .editBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #165BAA;
    border-radius: 0 0 0 15px;
    padding: 7px;
    color: #fff;
  }
}
