<div class="container">
  <ng-template #content let-modal size="950px">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <img src="{{ apiURL }}/static/{{ compititionLogo }}" width="100" height="100" *ngIf="compititionLogo" />
        Update Competition Details
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form class="form-inline" method="post" enctype="multipart/form-data" [formGroup]="compititionForm">
        <div class="row">
          <div class="form-group col-xs-12 col-md-4 col-lg-6 p-2">
            <label for="name" class="control-label">ShortCode/ Domain name</label>
            <input
              type="text"
              [value]=""
              class="form-control"
              placeholder="ShortCode/ Domain name"
              [(ngModel)]="patchedValues.shortCode"
              formControlName="shortCode"
              (blur)="verifyShortCode($event)"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['shortCode'].errors }"
            />
            <div *ngIf="submitted && f['shortCode']?.errors" class="invalid-feedback">
              <div *ngIf="f['shortCode'].errors && f['shortCode'].errors['required']">
                <small>ShortCode is required</small>
              </div>
            </div>
            <div *ngIf="shortCodeExists" class="invalid-feedback">
              <small>ShortCode is already in use</small>
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-4 col-lg-6 p-2">
            <label for="name" class="control-label">Name</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                (blur)="verifyCompetition($event)"
                [ngClass]="{ 'is-invalid': submitted && f['compititionName'].errors }"
                [(ngModel)]="patchedValues && patchedValues.compititionName"
                formControlName="compititionName"
                placeholder="Competition Name"
                aria-label="Competition Name"
                width="70%"
              />
              <div class="input-group-append" width="20%">
                <input
                  type="number"
                  placeholder="Year"
                  [(ngModel)]="patchedValues.compititionYear"
                  formControlName="compititionYear"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['compititionYear'].errors }"
                  class="form-control"
                />
              </div>
            </div>
            <div *ngIf="submitted && f['compititionName']?.errors" class="invalid-feedback">
              <div *ngIf="f['compititionName'].errors && f['compititionName'].errors['required']">
                <small>Competition is required</small>
              </div>
            </div>
            <div *ngIf="submitted && f['compititionYear']?.errors" class="invalid-feedback">
              <div *ngIf="f['compititionYear'].errors && f['compititionYear'].errors['required']">
                <small>Year is required</small>
              </div>
            </div>
            <div *ngIf="competitionExists" class="invalid-feedback">
              <small>Competition is already in use</small>
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-4 col-lg-6 p-2">
            <label for="name" class="control-label">Country</label>
            <select
              class="form-select"
              [(ngModel)]="patchedValues && patchedValues.compititionCountry"
              name="compititionCountry"
              formControlName="compititionCountry"
              aria-label="Default select"
            >
              <option [value]="0" selected>Select Country</option>
              <ng-container *ngIf="countries">
                <ng-container *ngFor="let country of countries">
                  <option [value]="country.code" [selected]="patchedValues && patchedValues?.compititionCountry == country.code">
                    {{ country.name }}
                    <span class="fi fi-gr"></span>
                  </option>
                </ng-container>
              </ng-container>
            </select>
            <div *ngIf="submitted && f['compititionCountry']?.errors" class="invalid-feedback">
              <div *ngIf="f['compititionCountry'].errors && f['compititionCountry'].errors['required']">
                <small>Country is required</small>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-4 col-lg-6 p-2">
            <label for="name" class="control-label">Logo</label>
            <input
              type="file"
              [value]=""
              class="form-control"
              (change)="uploadLogo($event)"
              placeholder="Competition Logo"
              [(ngModel)]="patchedValues && patchedValues.compititionLogo"
              formControlName="compititionLogo"
              class="form-control"
            />
          </div>
          <div class="form-group col-12 col-md-2 col-lg-3 p-2">
            <label for="name" class="control-label">Background Color</label>
            <input
              type="color"
              [value]=""
              class="form-control"
              placeholder="Competition Background"
              [(ngModel)]="patchedValues && patchedValues.compititionBackground"
              formControlName="compititionBackground"
            />
          </div>

          <div class="form-group col-12 col-md-2 col-lg-3 p-2">
            <label for="name" class="control-label">Font Color</label>
            <input
              type="color"
              [value]=""
              class="form-control"
              placeholder="Competition Color"
              [(ngModel)]="patchedValues && patchedValues.compititionColor"
              formControlName="compititionColor"
            />
          </div>
          <div class="form-group col-xs-12 col-md-4 col-lg-6 p-2">
            <label for="name" class="control-label">Border Size</label>
            <input
              type="number"
              [value]=""
              min="1"
              max="5"
              class="form-control"
              placeholder="Border Size (0 - 5)"
              [(ngModel)]="patchedValues && patchedValues.compititionBorder"
              formControlName="compititionBorder"
              class="form-control"
            />
          </div>
          <div class="form-group col-xs-12 col-md-12 col-lg-12 p-2">
            <label for="name" class="control-label">Competition Description</label>
            <textarea
              type="text"
              [value]=""
              class="form-control"
              placeholder="Competition Description"
              [(ngModel)]="patchedValues && patchedValues.compititionDescription"
              formControlName="compititionDescription"
              class="form-control"
            >
            </textarea>
          </div>
          <!--
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="form-group col-xs-12 col-md-6 col-lg-6 p-2 mt-2 align-items-end">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary col-12 text-white m-2">Update Competition</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Update Competition</button> -->
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
      <!-- </div> -->

      <div class="justify-content-center">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Update Competition</button>
      </div>
    </div>
  </ng-template>
  <div class="row justify-content-center" *ngIf="dashboardContents['competitions']">
    <div class="col-12 col-md-6 col-lg-4 m-4 p-2" *ngFor="let blogcard of dashboardContents['competitions']">
      <div class="card">
        <div class="editBtn">
          <input
            type="checkbox"
            class="btn btn-info"
            (change)="setCompetition(blogcard)"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="selectedCompetition._id === blogcard._id"
          />
          <i class="bi bi-pencil-square" (click)="open(content, blogcard)"></i>
        </div>
        <div class="row text-center">
          <div class="col-4 img-square-wrapper">
            <img src="{{ apiURL }}/static/{{ blogcard.compititionLogo }}" width="100" height="100" *ngIf="blogcard.compititionLogo" />
            <img src="assets/images/dashboard/teams.svg" alt="Card image cap" *ngIf="!blogcard.compititionLogo" />
          </div>
          <div class="col-8" style="margin: auto">
            <h2 class="card-title">{{ blogcard.compititionName | titlecase }}</h2>
            <p>
              {{ blogcard.count }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
