label {
  display: block;
  margin-top: 10px;
}

.login-box {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  width: 100%;
  max-width: 420px;
  margin: 5% auto;
  .login-logo {
    margin: 0;
    border-radius: 8px 8px 0 0;
    padding: 10px 0;
    background: #165BAA;
    color:#fff;
    text-align: center;
    span{
      font-size:18px;
      line-height: 1.2;
    }
    img{
      margin-right:15px;
    }
  }
}

.login-box {
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .login-card-body {
    border-radius: 0 0 8px 8px;
  }
  .login-card-body, .register-card-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
  }
  form {
    label{
      font-size:18px;
      padding-bottom:5px;
    }
    .form-control{
      padding:15px;
    }
    .form-group {
      margin-top: 15px;
      .btn{
        margin-top:10px;
        font-size:18px;
        padding:15px;
      }
    }
  }
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.sign-bold {
  color: var(--all-colors-text-primary-color-text-primary, #282828);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: NotoSansRegular;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

@media screen and (max-width: 480px) {
  .login-logo{
    img {
      margin:0 auto 10px auto
    }
    span {
    display: block;
  }
  }
}