form {
  input.form-control {
    line-height: 40px;
    padding: 25px;
    border-radius: 60px !important;
    border: 1px solid #000;
    background: hsl(0, 0%, 100%);
    width: 100%;
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: NotoSansRegular;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 5px;
  }
  button.btn-default {
    background: #000000;
    border-radius: 100%;
    width: 92px;
    height: 92px;
    color: white;
    line-height: 75px;
    b > i {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.league-lable {
  display: flex;
  height: 53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #000000;
  border-radius: 30px;
  margin: 16px;
  .league-text {
    color: #fff;
    text-align: center;
    font-family: NotoSansRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    button {
      visibility: hidden;
      position: relative;
      left: 22px;
    }
  }
  &:hover {
    .league-text {
      button {
        visibility: visible;
      }
    }
  }
}

@media (max-width: 1316px) {
  .league-lable {
    margin: 10px;
    .league-text {
      padding-top: 5px;
      font-size: 16px;
    }
    &:hover {
      .league-text {
        button {
          visibility: visible;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  input.form-control {
    line-height: 16px;
    padding: 18px;
    border-radius: 19px !important;
    border: 1px solid #000;
    background: #fff;
    width: 100%;
  }
  input::placeholder {
    font-size: 18px;
  }

  button.btn-default {
    background: #000000;
    border-radius: 66px !important;
    color: white;
    margin:0 auto;
    b > i {
      font-size: 15px;
      font-weight: bold;
    }
  }
}
