<div class="row page-title-bar">
  <div class="row academy-row" [style.background-color]="compSettings?.compititionBackground">
    <div class="col-12 col-lg-2">
      <div class="acedmy-plus m-auto"><img [src]="getImg(selectedCompetition?.compititionLogo)" class="img-fluid" /><br /></div>
    </div>
    <div class="col-12 col-lg-10 academy-name">
      <p>{{ selectedCompetition?.compititionName }}</p>
    </div>
  </div>
  <hr />
</div>
<div class="row">
  <form class="form-inline mt-4 mb-4" [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="form-group col-12 col-lg-2">
        <label for="name" class="control-label">League/ Group Name</label>
        <input type="text" class="form-control" placeholder="Type name of league" aria-label="league" formControlName="leagueName" />
      </div>
      <div class="form-group col-12 col-lg-2">
        <label for="name" class="control-label">Short Name</label>
        <input type="text" class="form-control" placeholder="Type name of league" aria-label="league" formControlName="shortCode" />
      </div>
      <div class="form-group col-12 col-lg-2">
        <label for="name" class="control-label">Age Cut-off</label>
        <input
          type="date"
          class="form-control"
          placeholder="League age limit"
          aria-label="league"
          formControlName="leagueAge"
          max="{{ maxDate | date : 'dd.MM.yyyy' }}"
        />
      </div>
      <div class="form-group col-12 col-lg-2">
        <label for="name" class="control-label">Year Of Competition</label>
        <input type="text" class="form-control" placeholder="Year of Competition" aria-label="league" formControlName="leagueYear" />
      </div>
      <div class="form-group col-12 col-lg-2 pt-3">
        <button type="submit" class="btn btn-default">
          <span class="btn btn-primary">Add Group / League</span>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <hr />
</div>
<!-- <div class="row p-3" *ngIf="leagues">
  <ng-container *ngFor="let league of leagues">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="league-lable">
        <span class="league-text"
          >{{ league.leagueName }}
          <button type="button" class="close btn btn-defaul" data-dismiss="alert" aria-label="Close" (click)="onDeleteLeague(league._id)">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
      </div>
    </div>
  </ng-container>
</div> -->
<div class="row p-3" *ngIf="leagues.length > 0">
  <app-league-listing [leaguesData]="leagues" (delLeague)="onDeleteLeague($event)" (editLeague)="onEditLeague($event)"></app-league-listing>
</div>
