.modal-body {
  text-align: center;
  img {
    width: 700px;
    border-radius: 25px;
  }
}
@media (max-width: 768px) {
  .ngx-table-container {
    display: flex;
    flex-direction: column;
  }

  .ngx-table-container .ngx-table-cell {
    flex-basis: 100%; // Each column occupies full width
  }
}