<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 m-4 p-2" *ngFor="let blogcard of blogcards">
      <div class="card p-4">
        <div class="row text-center">
          <div class="col-4 img-square-wrapper">
            <img src="assets/images/dashboard/{{ blogcard.image }}" alt="Card image cap" />
          </div>
          <div class="col-8" style="margin: auto">
            <h2 class="card-title">{{ blogcard.title | titlecase }}</h2>
            <p>
              {{ blogcard.count }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
