<div class="container">
  <div class="row justify-content-center" *ngIf="blogcards">
    <ng-container *ngFor="let blogcard of blogcards">
      <div class="col-12 col-md-6 col-lg-5 m-4 mb-2 ps-0 pe-0" *ngIf="displayForCoach(blogcard.title)">
        <div class="card blog-cards p-5">
          <div class="row">
            <div class="col-12 col-lg-5 img-square-wrapper">
              <img src="assets/images/dashboard/{{ blogcard.image }}" class="img-fluid" alt="Card image cap" />
            </div>
            <div class="col-12 col-lg-7" style="margin: auto">
              <h2 class="card-title mt-2">{{ getLabel(blogcard.title) | titlecase }}</h2>
              <p class="card-counter">
                {{ blogcard.count }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
