.card {
  height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  .card-body {
    .card-text {
      img {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
  .close-content {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 40px;
    display: none;
  }
  &:hover {
    .close-content {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .close-content {
    display: block;
  }
}
