<div class="container">
  <div class="row">
    <ngx-datatable
      #myTable
      class="material"
      [rows]="teamsData"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [footerHeight]="100"
      [headerHeight]="50"
      [limit]="10"
      rowHeight="auto"
      [scrollbarH]="true"
      [sorts]="[{ prop: 'teamName' }]"
    >
      <ngx-datatable-column name="" prop="row" size="30">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <img [src]="getImg(row?.academy_id.logo)" class="img-fluid" style="width: 48px; border-radius: 20px" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Team Name" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ row?.teamName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <!-- <button type="button" class="btn btn-gradient me-1" (click)="edit(row)"><i class="bi bi-pencil-square"></i></button> -->
          <button type="button" class="btn btn-gradient" (click)="redirectAcademySquady(row['_id'])">Squad</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer *ngIf="true">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
