<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto width-90">
  <li class="nav-item">
    <span class="headingtitle" style="font-family: NotoSansRegular">Player Management System (PMS)</span>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard"> Starter </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/about"> About </a>
  </li> -->
  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->
  <!-- <li class="nav-item" ngbDropdown>

    <a type="button" class="nav-link btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      Create New
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </li> -->
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end width-10" *ngIf="loggedInUser">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark pro-pic"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="bi bi-person-fill fs-7'"></i>
      <span class="ms-2" *ngIf="loggedInUser"> {{ loggedInUser?.username }}</span>
    </a>
    <div class="dropdown-menu-right text-center" ngbDropdownMenu>
      <!-- <a class="dropdown-item" href="javascript:void(0)"> My Profile</a> -->
      <!-- <a class="dropdown-item" href="javascript:void(0)"> My Balance</a> -->
      <a
        class="dropdown-item"
        href="javascript:void(0)"
        (click)="redirectToNotifications()"
        *ngIf="unreadNotifications.length && (loggedInUser?.roles[0] === 'ROLE_ADMIN' || loggedInUser?.roles[0] === 'ROLE_COACH')"
      >
        Inbox
        <span class="badge bg-warning ms-2" *ngIf="unreadNotifications.length">{{ unreadNotifications.length }}</span></a
      >
      <!-- <div class="dropdown-divider"></div> -->
      <!-- <a class="dropdown-item" href="javascript:void(0)"> Account Setting</a> -->
      <!-- <div class="dropdown-divider"></div> -->
      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
