
@media (min-width: 767px) {
  ul.navbar-nav.width-90 {
    flex-basis: 90%;
  }
  ul.navbar-nav.width-10{
    flex-basis: 10%;
  }

  ul.navbar-nav {
    li.nav-item {
      a.headingtitle {
        font-family: NotoSansRegular;
        color: #FFF;
        text-align: center;
        font-size: 45px !important;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}
