<div class="container">
  <div class="row">
    <ngx-datatable
      #myTable
      class="material"
      [rows]="leaguesData"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [footerHeight]="100"
      [headerHeight]="50"
      [limit]="10"
      rowHeight="auto"
      [scrollbarH]="true"
    >
      <ngx-datatable-column name="League/ Group Name" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ row?.leagueName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Short Name" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ row?.shortcode }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age Cutt off" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ row?.leagueAgeLimit }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Competition" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ getCompetitionName(row?.compitition) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Year" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{ row?.year ? row?.year : 2024 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <button type="button" class="btn btn-primary me-1" (click)="edit(row)"><i class="bi bi-pencil-square"></i></button>
          <button type="button" class="btn btn-danger" (click)="delete(row['_id'])"><i class="bi bi-trash"></i></button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer *ngIf="true">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
