<div class="container">
  <form class="mt-5" method="post" enctype="multipart/form-data" [formGroup]="topFilterForm">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3 mb-3">
        <select
          class="form-select"
          id="container"
          name="roles"
          aria-label="Default select"
          formControlName="competition"
          (change)="filterCompetitions($event)"
        >
          <option value="">Select the Competition</option>
          <ng-container *ngIf="dashbordContents['competitions']">
            <ng-container *ngFor="let competition of dashbordContents['competitions']">
              <option value="{{ competition._id }}">{{ competition.compititionName.toUpperCase() }}</option>
            </ng-container>
          </ng-container>
        </select>
      </div>
      <div class="col-12 col-md-3 col-lg-3 mb-3">
        <div class="input-group">
          <select
            class="form-select"
            id="container"
            name="years"
            aria-label="Default select"
            formControlName="ageGroup"
            (change)="ageGroup($event)"
          >
            <option value="">Select the Age Group</option>
            <ng-container *ngFor="let year of [2023, 2024, 2025, 2026, 2027, 2028, 2029]">
              <option [value]="year">{{ year }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 mb-3">
        <div class="input-group">
          <select
            class="form-select"
            id="container"
            name="years"
            aria-label="Default select"
            formControlName="compYear"
            (change)="compYear($event)"
          >
            <option value="">Select the Year</option>
            <ng-container *ngFor="let age of [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]">
              <option [value]="age">{{ age }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-3">
        <div class="input-group">
          <select
            class="form-select"
            id="container"
            name="years"
            aria-label="Default select"
            formControlName="gender"
            (change)="gender($event)"
          >
            <option value="">Select the Gender</option>
            <ng-container *ngFor="let gender of ['Male', 'Female']">
              <option [value]="gender">{{ gender }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
