.academy-row {
  background: #165BAA;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  .academy-name {
    p {
      color: #fff;
      font-family: 'Anton', sans-serif;
      font-size: 40px;
      margin:0 5px 0 0;
    }
    .academy-team{
      color: #FFF;
      font-family: 'Anton', sans-serif;
      font-size: 14px;
    }
  }
  .acedmy-plus {
    background: #4f5467;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #ff5a5a;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 767px) {
  .academy-row {
    align-items: center;
    .academy-name {
      padding-top: 0px;
      font-size: 16px;
      p {
        font-size: 16px;
        text-align: center;
        margin-top:10px;
      }
    }
  }
}
.card {
  height: 200px;
  background: none;
  border: 1px solid black;
  .card-body {
    vertical-align: center;
    div {
      div {
        p {
          color: #000;
          text-align: center;
          font-family: Noto Sans;
          font-size: 45px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }
  }
}
.card-header {
  color: #000;
  text-align: center;
  font-family: NotoSansRegular;
  font-size: 24.896px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
