<app-academy-header [academy]="academy"></app-academy-header>
<div class="container ps-0 pe-0 pt-4">
  <!-- <div class="row">
    <app-admin-top-filters
      (competitionsOut)="handleFilterByCompetitions($event)"
      (ageGroupOut)="handleFilterByAgeGroup($event)"
      (compYearOut)="handleFilterByYear($event)"
      (genderOut)="handleFilterByGender($event)"
    ></app-admin-top-filters>
  </div> -->
  <app-blog-cards [dashboardContents]="dashboardContents" [blogcards]="blogcards"></app-blog-cards>
</div>
