<div class="row academy-row">
  <div class="col-sm-2">
    <!-- <div class="acedmy-plus">
      <div class="btn btn-default col-lg-2 col-sm-2">
        <b><i class="bi bi-plus-lg academy-plus-inner-text"></i></b><br />
      </div>
    </div> -->
  </div>
  <div class="col-sm-10 academy-name">
    <p>{{ academy?.academyName }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 p-5">
    <h4>Teams</h4>
    <hr class="me-5" />
  </div>
</div>

<div class="container p-3">
  <div class="row" *ngIf="teams">
    <ng-container *ngFor="let team of teams">
      <div class="col-lg-3 col-sm-6">
        <div class="league-lable">
          <span class="league-text" [routerLink]="['/admin/squads/squadlist/', team._id]">{{ team.teamName }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div style="position: absolute; bottom: 0; right: 0; background-color: transparent">
  <button class="btn" style="font-size: 40px; color: black" (click)="redirectTo()">Back</button>
</div>
