<ngx-datatable
  #myTable
  class="material"
  [rows]="users"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [footerHeight]="100"
  [headerHeight]="50"
  [limit]="10"
  rowHeight="auto"
  [scrollbarH]="true"
>
  <ngx-datatable-column name="Name" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      {{ row.firstname }} {{ row.lastname }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      {{ row.email }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Mobile Number" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      {{ row.contact }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Country" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span class="fi fi-{{ row.competitionCountry.toLowerCase() }} flag-img"></span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Competition" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <ng-container *ngFor="let comp of row.competition">
        <p>{{ comp.competitionName }}</p>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" prop="row">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <button type="button" class="btn btn-primary me-1" (click)="editCompetition(row)"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger" (click)="deleteCompetition(row)"><i class="bi bi-trash"></i></button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer *ngIf="true">
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
    >
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!(rowCount / pageSize > 1)"
        (change)="table.onFooterPage($event)"
      >
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
