.academy-row {
  background: #165baa;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  .academy-name {
    p {
      color: #fff;
      font-family: NotoSansRegular;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .acedmy-plus {
    background: #4f5467;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #ff5a5a;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 767px) {
  .academy-row {
    align-items: center;
    .academy-name {
      padding-top: 0px;
      font-size: 16px;
      p {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

form {
  .input-group {
    border: 1px black solid;
    padding: 20px;
    border-radius: 75px;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: NotoSansRegular;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  input.league-input {
    border: none;
    background-color: white;
    border-radius: 50px;
    position: relative;
    border-radius: 35px;
  }
}
input.form-control {
  line-height: 93px;
}

button.btn-default {
  background: #000000;
  border-radius: 50px !important;
  width: 8%;
  color: white;
  b {
    i {
      font-size: 25px;
      font-weight: bold;
    }
    .academy-plus-inner-text {
      color: #ff5a5a;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
.league-lable {
  display: flex;
  min-height: 53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: #000000;
  border-radius: 30px;
  .league-text {
    color: #fff;
    text-align: center;
    font-family: NotoSansRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .league-lable {
    margin: 0px;
    .league-text {
      font-size: 16px;
    }
  }
  input.form-control {
    line-height: 16px;
    margin: 0 30px 0 0;
    padding: 18px;
    border-radius: 19px !important;
    border: 1px solid #000;
    background: #fff;
    width: 57%;
  }

  button.btn-default {
    background: #000000;
    border-radius: 66px !important;
    width: 9%;
    color: white;
    b > i {
      font-size: 15px;
      font-weight: bold;
    }
  }
}
