<app-academy-header [academy]="academy"></app-academy-header>
<div class="container">
  <div class="row">
    <form class="form-inline mt-5 ps-0 pe-0" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-12 col-lg-9 d-flex mb-md-1 justify-content-start">
          <div class="dropdown">
            <button
              class="btn btn-white btn-filter dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bi bi-filter pe-3"></i>Filters
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="addFilter('Team')">Team</a>
              <a class="dropdown-item" (click)="addFilter('League')">League</a>
            </div>
          </div>
          <div class="filter-pills">
            <div class="btn btn-white" *ngFor="let filter of filters">
              {{ filter }}
              <span class="close-icon" (click)="removeFilter(filter)">&times;</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="col-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="bi bi-search"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                id="validationTooltipUsername"
                placeholder="Search"
                (keyup)="filterTeams($event.target.value)"
                aria-describedby="validationTooltipUsernamePrepend"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row d-flex justify-content-center" *ngIf="teams">
    <ngx-datatable
      #myTable
      class="material"
      [rows]="teams"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [footerHeight]="100"
      [headerHeight]="50"
      [limit]="10"
      rowHeight="auto"
      [scrollbarH]="true"
    >
      <ngx-datatable-column name="Team Name" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span onTeamClick="onTeamClick(row)">
            {{ row.teamName }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="League/Group" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <ng-container *ngIf="row.league">
            <p>{{ row?.league?.leagueName }}</p>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <button type="button" class="btn btn-gradient me-1" (click)="onTeamClick(row)">Squad</button>
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column name="Actions" prop="row">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <button type="button" class="btn btn-primary me-1"><i class="bi bi-pencil-square"></i></button>
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-footer *ngIf="true">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
