<div class="row academy-row" [style.background-color]="academy?.color">
  <div class="col-12 col-lg-2">
    <div class="acedmy-plus m-auto"><img [src]="getImg(academy?.logo)" class="img-fluid" /><br /></div>
  </div>
  <div class="col-12 col-lg-10 academy-name">
    <p *ngIf="academy">{{ academy.academyName }}</p>
  </div>
</div>
<div class="row d-flex justify-content-center" *ngIf="teams">
  <ng-container *ngFor="let team of teams">
    <div class="col-lg-3 col-md-4 col-sm-11 m-3">
      <div class="league-lable btn w-100">
        <span class="league-text" (click)="onTeamClick(team)">{{ team.teamName }}</span>
      </div>
    </div>
  </ng-container>
</div>
