// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
@media (min-width: 667px) {
  .modal-content {
    width: 1000px;
    padding: 10px;
  }
}
.btn-back {
  background: #a155b9;
  padding: 10px 20px;
  border-radius: 30px 0 0 30px;
  margin: 15px;
  color: #fff;
  font-family: NotoSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 0 !important;
}

.btn-back:hover {
  background: #a155b9;
  color: #fff;
}

.btn-back::before {
  content: "\e5e4"; /* Unicode for the arrow-left icon */
  font-family: "bootstrap-icons";
}

.form-select {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.form-control {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.ngx-datatable.material {
  border-radius: 10px;
  box-shadow: 0px 2.44px 4.881px -2.44px rgba(16, 24, 40, 0.05), 0px 4.881px 9.762px -2.44px rgba(16, 24, 40, 0.05);
  margin-bottom:50px;
}

.ngx-datatable.material .datatable-header{
  background: #F9FAFB;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
  background:#F9FAFB;
  }

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell .datatable-header-cell-label {
  color: #667085;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
}

.ngx-datatable .datatable-body .datatable-row-wrapper{
  border-bottom:1px solid #EAECF0;
}

.ngx-datatable .datatable-body .datatable-row-wrapper:last-child{
  border-bottom: 0;
}

.datatable-body-cell-label{
  color: #101828;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
}

.datatable-body-cell-label span, .datatable-body-cell-label p{
  color: #101828;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
}

.datatable-body-cell-label p{
  margin:0;
}

.ngx-datatable.material {
  padding:0;
}

.ngx-datatable.material .datatable-header .datatable-row-left, .ngx-datatable.material .datatable-body .datatable-row-left {
  background: #000;
}

.multiselect-dropdown .dropdown-btn{
  border-radius: 8px !important;
  border: 1px solid #D0D5DD !important;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.btn-gradient{
  color:#fff;
  border: 1px solid #7280FF;
  background: linear-gradient(270deg, #2185D0 0%, #42A3EA 99.64%);
  box-shadow: 0px 1.22px 2.44px 0px rgba(16, 24, 40, 0.05);
}

.btn-white{
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1.22px 2.44px 0px rgba(16, 24, 40, 0.05);
}