// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
@media (min-width: 667px) {
  .modal-content {
    width: 1000px;
    padding: 10px;
  }
}
.btn-back {
  background: #a155b9;
  padding: 10px 20px;
  border-radius: 30px 0 0 30px;
  margin: 15px;
  color: #fff;
  font-family: NotoSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 0 !important;
}

.btn-back:hover {
  background: #a155b9;
  color: #fff;
}

.btn-back::before {
  content: "\e5e4"; /* Unicode for the arrow-left icon */
  font-family: "bootstrap-icons";
}

.sidebar-nav ul .sidebar-item .sidebar-link{
  color:#fff;
}

.form-select {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.ngx-datatable.material {
  border-radius: 10px;
  box-shadow: 0px 2.44px 4.881px -2.44px rgba(16, 24, 40, 0.05), 0px 4.881px 9.762px -2.44px rgba(16, 24, 40, 0.05);
}

.ngx-datatable.material .datatable-header{
  border: 1.22px solid #EAECF0;
  background: #F9FAFB;
}

.ngx-datatable.material .datatable-header .datatable-row-left, .ngx-datatable.material .datatable-body .datatable-row-left {
  background: #000;
}